# Tarea 1 Bases de Datos 2022-1 Grupo XX

_Recuerde modificar esta celda y la siguiente! (Borre esta línea también)._

## Integrantes:
* Claudio Villagrán Orellana - 202021016-0
* Patricio Martinez - 202073015-6
* Jesus Bustamante - 202073127-6

## Requisitos para Correr el Notebook

Para poder utilizar este Notebook se debe tener instalado:
- **Python 3**
- **Jupyter**
- La librería **ipython-sql** (Poder ejecutar sql en Jupyter Notebook)
- ToolKit **sqlalchemy**
- PostgreSQL y su conector desde Python(**psycopg2**)

**IMPORTANTE:** Este Jupyter Notebook se conectará a su servicio de Base de Datos PostgreSQL de manera **local**, por lo que **no funcionará correctamente en el entorno Google Collab.**

Para instalar las dependencias, ejecute (recuerde actualizar pip3):

In [1]:
! pip3 install ipython-sql
! pip3 install sqlalchemy
! pip3 install psycopg2

#Use to generate names
! pip3 install names

Requirement already satisfied: ipython-sql in c:\users\hiddn\appdata\local\programs\python\python38\lib\site-packages (0.4.0)
Requirement already satisfied: six in c:\users\hiddn\appdata\local\programs\python\python38\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\hiddn\appdata\local\programs\python\python38\lib\site-packages (from ipython-sql) (1.4.32)
Requirement already satisfied: ipython>=1.0 in c:\users\hiddn\appdata\local\programs\python\python38\lib\site-packages (from ipython-sql) (8.2.0)
Requirement already satisfied: prettytable<1 in c:\users\hiddn\appdata\local\programs\python\python38\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: sqlparse in c:\users\hiddn\appdata\local\programs\python\python38\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\hiddn\appdata\local\programs\python\python38\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: jedi>=0.16 in c:\users\hiddn\appdata\local\programs\python\python38\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: pygments>=2.4.0 in c:\users\hiddn\appdata\local\programs\python\python38\lib\site-packages (from ipython>=1.0->ipython-sql) (2.11.2)
Requirement already satisfied: decorator in c:\users\hiddn\appdata\local\programs\python\python38\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: traitlets>=5 in c:\users\hiddn\appdata\local\programs\python\python38\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: colorama in c:\users\hiddn\appdata\local\programs\python\python38\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\hiddn\appdata\local\programs\python\python38\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.28)
Requirement already satisfied: backcall in c:\users\hiddn\appdata\local\programs\python\python38\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: stack-data in c:\users\hiddn\appdata\local\programs\python\python38\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in c:\users\hiddn\appdata\local\programs\python\python38\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.3)
Requirement already satisfied: setuptools>=18.5 in c:\users\hiddn\appdata\local\programs\python\python38\lib\site-packages (from ipython>=1.0->ipython-sql) (56.0.0)
Requirement already satisfied: pickleshare in c:\users\hiddn\appdata\local\programs\python\python38\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\hiddn\appdata\local\programs\python\python38\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.2)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\hiddn\appdata\local\programs\python\python38\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\hiddn\appdata\local\programs\python\python38\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: executing in c:\users\hiddn\appdata\local\programs\python\python38\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\hiddn\appdata\local\programs\python\python38\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\hiddn\appdata\local\programs\python\python38\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
Requirement already satisfied: sqlalchemy in c:\users\hiddn\appdata\local\programs\python\python38\lib\site-packages (1.4.32)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\hiddn\appdata\local\programs\python\python38\lib\site-packages (from sqlalchemy) (1.1.2)
Requirement already satisfied: psycopg2 in c:\users\hiddn\appdata\local\programs\python\python38\lib\site-packages (2.9.3)
Requirement already satisfied: names in c:\users\hiddn\appdata\local\programs\python\python38\lib\site-packages (0.3.0)

## Importar dependencias

In [5]:
from datetime import datetime
import random as r
import names
import string

#Librerías para PostgreSQL
import psycopg2

Para conectarse a la base de datos, completen los datos relevantes en la variable DATABASE_URL.

* Cambie `user` por el usuario que utilizó en Postgres para acceder a la Base de Datos. Por defecto `postgres`.
* Cambie `password` por la contraseña de dicho usuario. **Recuerde borrarla antes de entregar su tarea.**
* Cambie `port` por el puerto en que se ejecuta su servicio de Base de Datos. Por defecto `5432`.
* Cambie `database` por el nombre de la BD (Schema) que creó en Postgres.

Ejemplo: `postgresql://postgres:pass_segura@localhost:5432/tarea-bd`

In [6]:
%reload_ext sql
%env DATABASE_URL=postgresql://postgres:123@localhost:5432/postgres

env: DATABASE_URL=postgresql://postgres:123@localhost:5432/postgres

Para conectarse de forma declarativa a la Base de Datos, utilice el siguiente código:

In [7]:
#Recuerde cambiar los valores de USER, DBNAME y PASSWORD por los mismos de la celda superior.
connection = psycopg2.connect(
   host="localhost",
   user="postgres",
   dbname='postgres',
   password="123"
)

print(connection)
cursor = connection.cursor()

<connection object at 0x000001953DD59AD0; dsn: 'user=postgres password=xxx dbname=postgres host=localhost', closed: 0>

## Crear tablas

Aquí inserta el código SQL que creara las tablas de la base de datos:

### Tabla "Usuarios"

In [23]:
%%sql
create table Usuarios(
    ID_usuario integer GENERATED ALWAYS AS IDENTITY,
    nombre varchar(45) NOT NULL,
    apellido varchar(45),
    correo varchar(45) NOT NULL,
    contraseña varchar(50) NOT NULL,
    fecha_registro timestamp NOT NULL,
    PRIMARY KEY(ID_usuario)
);

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

### Tabla "Creadores"

In [24]:
%%sql
create table Creadores(
    ID_creador integer GENERATED ALWAYS AS IDENTITY,
    nombre varchar(45) NOT NULL,
    apellido varchar(45) NOT NULL,
    popularidad integer,
    Estilo varchar(45),
    PRIMARY KEY(ID_creador)
);

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

### Tabla "Tipos_NTF"

In [25]:
%%sql
create table tipos_NFT(
    ID_tipo integer GENERATED ALWAYS AS IDENTITY,
    nombre varchar(20) NOT NULL,
    PRIMARY KEY(ID_tipo)
);

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

### Tabla "NFT"

In [26]:
%%sql
create table NFT(
    ID_nft integer GENERATED ALWAYS AS IDENTITY,
    nombre varchar(45) NOT NULL,
    ID_creador integer NOT NULL,
    ID_tipo integer,
    PRIMARY KEY(ID_nft),
    FOREIGN KEY(ID_creador) REFERENCES Creadores(ID_creador),
    FOREIGN KEY(ID_tipo) REFERENCES tipos_NFT(ID_tipo)
);

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

### Tabla "Precio NFT"

In [27]:
%%sql
Create table Precio_NFT(
    ID_nft integer,
    fecha timestamp NOT NULL,
    precio integer NOT NULL,
    PRIMARY KEY(ID_nft, fecha),
    FOREIGN KEY(ID_nft) REFERENCES NFT(ID_nft)
);

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

### Tabla "Usuario tiene NFT"

In [28]:
%%sql
Create table Usuario_tiene_NFT(
    id_usuario integer,
    id_nft integer,
    PRIMARY KEY(id_usuario, id_nft),
    FOREIGN KEY(id_usuario) REFERENCES Usuarios(ID_usuario),
    FOREIGN KEY(id_nft) REFERENCES NFT(ID_nft)
);

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

## Código Generador de Datos

Ejecute este código para cargar datos a las tablas creadas.

PD: Si el codigo tira error por "violar la unicidad de las PK" es por una coincidencia de numeros random, solamente volver a ejecutar el codigo

In [7]:
#Recuerde haber ejecutado todas las celdas anteriores!

# Generador de timestamp aleatorio.
def generate_timestamp():
    year = r.randint(2015,2022)
    month = r.randint(1,12)
    day = r.randint(1,31)
    
    hour = r.randint(0,23)
    minute = r.randint(0,59)
    second = r.randint(0,59)
    
    if month in [4, 6, 9, 11] and day > 30:
        day = 30
        
    if month == 2 and day > 28:
        day = 28
        
    return datetime(year, month, day, hour, minute, second)

def generate_password():
    return ''.join(r.choice(string.ascii_uppercase + string.digits) for x in range(15))

print("Borrando Datos Antiguos...")

# Limpia la base de datos.
connection.commit() # En caso de algun error
query = "TRUNCATE TABLE usuarios, creadores, tipos_nft, nft, precio_nft, usuario_tiene_nft RESTART IDENTITY"
cursor.execute(query)
connection.commit()


print("Generando Datos...")

nft_names = ['Crypto Raptors', 'The Binary Girl', 'Sphere Art', 'Fight Punks', 'Thunder NFT', 'Artistic Alpha', 'Digital Unicorns', 'Bling Bits', 'Secret Stones', 'Crypto Potato', 'Futuristic Realism', 'Nova Auroras', 'Dreamy Imaginations', 'Reflected Light', 'Spells of Genesis', 'Crypto Felines', 'Dose of Art', 'To The Moon', 'Artful Antlers', 
'Butterfly Dust', 'Depressed Dragons', 'Crypto Diamonds', 'Healthy Hedgehogs', 'Crypto Jackpot', 'Minecraft Sphere', 'Crypto Boom', 'Lucky Lizards', 'Rockin Crypto', 'Crystalline Canyon', 'Koala Kickers', 'Clumsy Crocodiles', 'Mountain of Clouds', 'Blizz Blizzard', 'Cryptokitty Ville', 'Cryptonaut', 'Mike Halloween Yodelers', 'The Teacup Pomeranian', 
'Art Dodger', 'Awesome Concept', 'Aliens Abduction', 'Animated Hard Art', 'Ultimate Iconic Crypto (IUC)', 'Hilarious Horses', '1-Love', '0NOZER0', 'Meteorite NFT', 'Bee Token', 'Elephant Treasure Hunt', 'Crypto Life', '1NiTRO', 'Dust Rift', 'Tokenized Superheroes', 'Techno Abstract Aesthetics', 'Digi Gods', 'Outstanding Octopus', 'Panther NFT', 
'Cypherpunk Samurai', 'Rich Rhinos', 'Crypto Punked', 'Funny Frogs', 'Bit NFT', 'Phonetic Phoenix', 'Flame Stinger', 'Fight For The Title', 'Koalas in Love', 'Touchdown', 'Resilient Rats', 'Bloom of Flowers', 'NFT Lord', 'Fair Coin', 'Art Rumble', 'Light Embrace', 'Crypto Bunny Ranch', 'Crypto Pigeon Race', 'Water Wiggle', 'Wowoo World', 
'Crypto Club', 'Crypto Kitties Of War', 'Visionary Crypto', 'Women Power', 'Rainbows Ends', 'Cards of Polo', 'Crypto Kitties', 'Busy Bats', '0xHile', 'Token Watchdogs', 'Non Fungible Nibbles', 'Pandamonium', '3D Me', 'Midas NFTs', 'Graceful Gorillas', 'United Crypto Token (UCT)', 'Crypto Art Gallery', 'Dark Horse Lady', 'Block View', 'Arty Arts', 
'White Storm', 'Krypto Queen', 'Clever Chimp', 'Qat Tree Unicorn', 'Anna Frozen Entertainers', 'Artificial Rocks', '0NOCH0', 'Flame Blade', 'The Gold Betta', 'Doge Pal', 'Elite Fur Dog Race Club', 'Dust Sifter', 'Moonlit Butterfly', 'Art Lover Box', 'Madame Witch', 'Fantasy Token', 'Bitsy', 'Hive City', 'Couch Potato', 'Burger Bits', 'Crypto Potluck', 
'Cyberboxer', 'Calm Crows', 'Crumbs NFT', 'Mint Chocolates', 'Atollon Coral', 'Dapper Dinos', 'Flame Cats', 'Addictive Animals', 'Alice Wonderland Frozen Carolers', 'Coin Dance', 'Giant Coin', 'Silver Lining Pixy', 'Headed Shark Attack', 'Ultimate League Of Paragon', 'Darker Clouds', 'Blue Mood Chip', 'Brush Point', 'Enthusiastic Elephants', 'Ultra Cool Dogs', 
'Pink Sports Cars']

dominios = ["hola.cl", "google.com","usm.cl","prestigio.usm.cl","crypto.co","basededatos.top"]

tipos_nft = [
    ("Imagen",), ("Musica",),("Juegos",), ("Modelo 3D",), ("Pixel",), ("Membresia",),("Arte",),
]

estilos = [
    ("Anime",),("Manga",),("Arte Retro",),("Arte Moderno",),("Impresionismo",),("Barroco",),("Arte Antiguo",),("Arte 3D",),("Paisaje",)
]

n_usuarios = 200
n_creadores = 20
n_nft = len(nft_names)
n_tipos_nft = len(tipos_nft)
n_usuario_tiene_nft = 80

usuarios = []
for _ in range(1, n_usuarios+1):
    nombre = names.get_first_name()
    apellido = names.get_last_name()
    correo = nombre.lower()+"."+apellido[:4].lower()+"@"+r.choice(dominios)
    usuarios.append((nombre,apellido,correo,generate_password(),generate_timestamp()))

creadores = [(names.get_first_name(), names.get_last_name(), r.randint(0,5), r.choice(estilos)) for _ in range(1,n_creadores+1)]

nft = [(nft_names[n], r.randint(1,n_creadores), r.randint(1,n_tipos_nft)) for n in range(n_nft)]

precio_nft = [(r.randint(1,n_nft), generate_timestamp(), r.randint(500, 100000)) for _ in range(300)]

usuario_tiene_nft = [(r.randint(1,n_usuarios),r.randint(1,n_nft)) for _ in range(81)]


insert = [
    "INSERT INTO usuarios (nombre, apellido, correo, contraseña, fecha_registro) VALUES (%s, %s, %s, %s, %s)",
    "INSERT INTO creadores (nombre, apellido, popularidad, estilo) VALUES (%s, %s, %s, %s)",
    "INSERT INTO tipos_nft (nombre) VALUES (%s)",
    "INSERT INTO nft (nombre, id_creador, id_tipo) VALUES (%s, %s, %s)",
    "INSERT INTO precio_nft (id_nft, fecha, precio) VALUES (%s, %s, %s)",
    "INSERT INTO usuario_tiene_nft (id_usuario, id_nft) VALUES (%s, %s)"
]


for usuario in usuarios:
    cursor.execute(insert[0], usuario)

for creador in creadores:
    cursor.execute(insert[1], creador) 

for tipo in tipos_nft:
    cursor.execute(insert[2], tipo)  

for n in nft:
    cursor.execute(insert[3], n)  
    
for precio in precio_nft:
    cursor.execute(insert[4], precio) 
    
for usr in usuario_tiene_nft:
    cursor.execute(insert[5], usr)
    
connection.commit()

print("Todo Listo!")

Borrando Datos Antiguos...
Generando Datos...
Todo Listo!

## Consultas

Escriba aquí las consultas pedidas. Recuerde agregar una descripción _breve_ de cómo funciona la solución. **Escriba las consultas de forma ordenada.**

**NOTA:** Cuando en una consulta diga "X cosa" significa que ustedes deben de elegir ese X por lo que para cualquier otro X debe de funcionar de igual forma.

### Consulta 1
**ID y Nombre del creador de un estilo X con mayor popularidad.**
###### Si hay más de uno, ponga solamente el primero

Ejemplo:

|Id |  Creador      |
|---|-----------|
| 12 |Levi Ackerman |

**Solución:** selecciona el id, nombre y apellido de la tabla "creadores", donde estilo es X, se ordena de mayor a menor segun su popularidad y se limita a 1 fila.

In [10]:
%%sql
SELECT
    id_creador AS "Id",(

        CONCAT(nombre,' ', apellido)

        )AS "Creador"
FROM 
    creadores
WHERE
estilo = 'Arte 3D'
ORDER BY popularidad DESC
LIMIT 1;

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[(10, 'Jessica Cressman')]

### Consulta 2
**Cantidad de precios que ha tenido históricamente cada NTF.**

Ejemplo:


| NFT     | Cantidad de precios |
|--------------|----------|
| Minecraft Sphere |    3     |
| The Binary Girl     |    7     |
| ...          |   ...    |

**Solución:** se unen las tablas "precio_nft" y "nft", mediante las id's de nft, para seleccionar el nombre del nft y contar sus precios.

In [4]:
%%sql
SELECT
	nft.nombre AS "NFT", COUNT(precio_nft.id_nft) AS "Cantidad de precios"
FROM
	nft
INNER JOIN precio_nft
ON nft.id_nft = precio_nft.id_nft
GROUP BY nft.nombre;

116 rows affected.

[('Spells of Genesis', 1),
 ('Art Rumble', 2),
 ('Aliens Abduction', 4),
 ('Meteorite NFT', 3),
 ('Atollon Coral', 3),
 ('Bling Bits', 3),
 ('Minecraft Sphere', 3),
 ('United Crypto Token (UCT)', 5),
 ('Artificial Rocks', 1),
 ('Crypto Jackpot', 1),
 ('Depressed Dragons', 1),
 ('Artistic Alpha', 2),
 ('Light Embrace', 3),
 ('Crypto Kitties Of War', 1),
 ('Pink Sports Cars', 2),
 ('Cards of Polo', 1),
 ('Addictive Animals', 4),
 ('Visionary Crypto', 2),
 ('Animated Hard Art', 3),
 ('Lucky Lizards', 2),
 ('Bloom of Flowers', 1),
 ('Flame Stinger', 5),
 ('Doge Pal', 2),
 ('The Gold Betta', 3),
 ('Art Lover Box', 5),
 ('Darker Clouds', 1),
 ('Digital Unicorns', 1),
 ('Digi Gods', 1),
 ('Token Watchdogs', 1),
 ('0NOCH0', 3),
 ('Wowoo World', 2),
 ('Crypto Felines', 5),
 ('Ultra Cool Dogs', 3),
 ('Crypto Pigeon Race', 3),
 ('Mint Chocolates', 4),
 ('1-Love', 1),
 ('Tokenized Superheroes', 4),
 ('Anna Frozen Entertainers', 3),
 ('Secret Stones', 3),
 ('Crypto Club', 3),
 ('Elite Fur Dog Race Club', 2),
 ('Crumbs NFT', 3),
 ('Mountain of Clouds', 6),
 ('Couch Potato', 4),
 ('Panther NFT', 4),
 ('Hive City', 3),
 ('Moonlit Butterfly', 4),
 ('Cryptokitty Ville', 3),
 ('Bee Token', 4),
 ('Crystalline Canyon', 2),
 ('Brush Point', 2),
 ('Reflected Light', 3),
 ('Outstanding Octopus', 7),
 ('Healthy Hedgehogs', 2),
 ('Crypto Potluck', 1),
 ('Techno Abstract Aesthetics', 1),
 ('Thunder NFT', 3),
 ('Women Power', 1),
 ('Giant Coin', 6),
 ('Midas NFTs', 4),
 ('Calm Crows', 4),
 ('Dark Horse Lady', 3),
 ('Crypto Punked', 4),
 ('Dreamy Imaginations', 5),
 ('Madame Witch', 1),
 ('Busy Bats', 3),
 ('Blizz Blizzard', 4),
 ('Crypto Raptors', 3),
 ('Pandamonium', 2),
 ('Dust Sifter', 2),
 ('Crypto Boom', 1),
 ('Crypto Life', 2),
 ('Graceful Gorillas', 1),
 ('To The Moon', 2),
 ('NFT Lord', 2),
 ('Qat Tree Unicorn', 1),
 ('Fight Punks', 1),
 ('Mike Halloween Yodelers', 1),
 ('Koalas in Love', 2),
 ('Cyberboxer', 1),
 ('Art Dodger', 3),
 ('Fair Coin', 3),
 ('Cryptonaut', 3),
 ('0NOZER0', 5),
 ('Sphere Art', 4),
 ('White Storm', 2),
 ('Burger Bits', 1),
 ('The Binary Girl', 1),
 ('Flame Blade', 2),
 ('The Teacup Pomeranian', 3),
 ('Non Fungible Nibbles', 3),
 ('Fantasy Token', 3),
 ('Ultimate League Of Paragon', 3),
 ('Cypherpunk Samurai', 1),
 ('Awesome Concept', 2),
 ('Crypto Potato', 1),
 ('Crypto Bunny Ranch', 1),
 ('Nova Auroras', 3),
 ('3D Me', 4),
 ('Rockin Crypto', 1),
 ('Clumsy Crocodiles', 2),
 ('Headed Shark Attack', 2),
 ('Butterfly Dust', 2),
 ('Silver Lining Pixy', 4),
 ('Crypto Kitties', 2),
 ('Arty Arts', 5),
 ('Clever Chimp', 1),
 ('Water Wiggle', 1),
 ('Blue Mood Chip', 1),
 ('Coin Dance', 2),
 ('Resilient Rats', 3),
 ('0xHile', 4),
 ('Block View', 3),
 ('Ultimate Iconic Crypto (IUC)', 2),
 ('Bitsy', 1),
 ('Bit NFT', 5)]

### Consulta 3
**El nombre y tipo (nombre del tipo) del NFT históricamente más caro.**
###### Si hay más de uno, ponga solamente el primero
Ejemplo:

| NFT    | Tipo | 
|----------------|--------|
| Minecraft Sphere| Arte 3D |

**Solución:** Se unen las tablas "nft" y "tipos_nft", mediante el id del tipo, donde el id del nft esta dado por el id que tenga maximo precio en la tabla "precio_nft". Ademas, se limita a 1 fila.

In [5]:
%%sql
SELECT
	nft.nombre AS "NFT", tipos_nft.nombre AS "Tipo"
FROM
	nft
INNER JOIN tipos_nft ON nft.id_tipo = tipos_nft.id_tipo
WHERE
	nft.id_nft = (SELECT
				  	id_nft
				  FROM
				  	precio_nft
				  WHERE
				  	precio = (SELECT
							 	MAX(precio)
							 FROM
							 	precio_nft
							 )
				 )
LIMIT 1;

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[('Artistic Alpha', 'Modelo 3D')]

### Consulta 4
**Nombre y apellido del usuario con más número de NFTs.**

Ejemplo:

| Nombre     | Apellido |
|----------------|--------|
| Levi | Ackerman |

**Solución:** Se selecciona el nombre y apellido de una tabla resultante, en donde se unen las tablas "usuarios" y "usuario_tiene_nft", se selecciona el nombre, apellido y la cantidad de NFTs que tiene. Por ultimo se ordenan de mayor a menor y se limita a uno para asi obtener la fila con mayor cantidad de NFTs.

In [12]:
%%sql
SELECT
	nombre AS "Nombre", apellido AS "Apellido"
FROM
	(SELECT
		usuarios.nombre, usuarios.apellido, COUNT(usuario_tiene_nft.id_usuario) AS Cantidad_nft
	FROM
		usuarios
	INNER JOIN usuario_tiene_nft
	ON usuarios.id_usuario = usuario_tiene_nft.id_usuario
	GROUP BY usuarios.nombre, usuarios.apellido 
	) AS usuario_tiene_cantidad
ORDER BY Cantidad_nft DESC
LIMIT 1;

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[('Cindy', 'Youree')]

### Consulta 5
**El NFT que más veces cambió de precio historicamente.**

Ejemplo:

|  ID  | NFT | 
|--------|-------|
| 11 |Minecraft Sphere | 

**Solución:** Se unen las tablas "nft" y "precio_nft", mediante el id del nft, luego se agrupan por nombre de nft, para asi tener la cantidad de precios, despues se ordenaran de mayor a menor y finalmente se limitará a uno para asi obtener la fila con la mayor cantidad de precios.

In [10]:
%%sql
SELECT
	nft.nombre AS "NFT", COUNT(precio_nft.id_nft) AS cantidad
FROM
	nft
INNER JOIN precio_nft
ON nft.id_nft = precio_nft.id_nft
GROUP BY nft.nombre
ORDER BY COUNT(precio_nft.id_nft) DESC
LIMIT 1;

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[('Outstanding Octopus', 7)]

### Consulta 6
**Usuarios que NO tienen un NFT.**

Ejemplo

|Nombre | Apellido|
|--------|-------|
|Guillermo    | Diaz |
|Markus | Person |
|Rick   | Astley |
|... | ...| 

**Solución:** Se selecciona el nombre y apellido del usuario que no tenga su id dentro de la tabla "usuario_tiene_nft".

In [10]:
%%sql
SELECT
	nombre AS "Nombre", apellido AS "Apellido"
FROM
	usuarios
WHERE
	id_usuario NOT IN (SELECT
					  	usuario_tiene_nft.id_usuario
					  FROM
					  	usuario_tiene_nft);

 * postgresql://postgres:***@localhost:5432/postgres
136 rows affected.

[('Leo', 'Howell'),
 ('James', 'Mcknight'),
 ('Dena', 'Greaves'),
 ('William', 'Keefe'),
 ('Jesse', 'Saver'),
 ('Cheryl', 'Smithheart'),
 ('Linda', 'Wright'),
 ('Christine', 'Ayers'),
 ('Lisa', 'Mclaurin'),
 ('Michelle', 'Ashcraft'),
 ('David', 'Morris'),
 ('Inez', 'Brooks'),
 ('Patrick', 'Soileau'),
 ('Arthur', 'Lauro'),
 ('Mark', 'Torrence'),
 ('Vincent', 'Hurst'),
 ('Brooke', 'Bell'),
 ('Terri', 'Arnold'),
 ('Jennifer', 'Davis'),
 ('Steven', 'Wells'),
 ('Angela', 'Moralez'),
 ('Charles', 'Cook'),
 ('James', 'Thomas'),
 ('Benny', 'Joy'),
 ('Emil', 'Williams'),
 ('Jack', 'Alvarado'),
 ('Katrina', 'Yurko'),
 ('Lee', 'Kent'),
 ('Paul', 'Schweitzer'),
 ('Helen', 'Blake'),
 ('Hattie', 'Davey'),
 ('Steve', 'Lehmann'),
 ('Gregory', 'Dear'),
 ('Joyce', 'Kerr'),
 ('Sarah', 'Fitzsimmons'),
 ('Lorraine', 'Cook'),
 ('Frederick', 'Wright'),
 ('Philip', 'Peters'),
 ('Joe', 'Balkcom'),
 ('Doris', 'Betterton'),
 ('Faith', 'Custer'),
 ('Loraine', 'Krueger'),
 ('Niki', 'Morgan'),
 ('Donna', 'Chandler'),
 ('Louise', 'Adams'),
 ('Bobby', 'Williamson'),
 ('Shelley', 'Radden'),
 ('Arthur', 'Snell'),
 ('Wayne', 'Marois'),
 ('Laura', 'Briggs'),
 ('Iris', 'Nugent'),
 ('Lisa', 'Raby'),
 ('Fanny', 'Gibbs'),
 ('Marilee', 'Chaffee'),
 ('Connie', 'Danker'),
 ('Wilma', 'Hunsberger'),
 ('Caleb', 'Senecal'),
 ('Richard', 'Schnieders'),
 ('Mary', 'Mclaughlin'),
 ('James', 'Bynum'),
 ('Charles', 'Biddix'),
 ('Andrew', 'Gaines'),
 ('Christine', 'Hoogland'),
 ('David', 'Thompson'),
 ('James', 'Whitney'),
 ('Tommy', 'Scurry'),
 ('Kathy', 'Mcmahan'),
 ('Linda', 'Heyer'),
 ('Chad', 'Rudzik'),
 ('Brian', 'Manson'),
 ('Bertha', 'Sandling'),
 ('Emanuel', 'Stayton'),
 ('John', 'Banks'),
 ('Gordon', 'Heiniger'),
 ('Cynthia', 'Thomas'),
 ('Greg', 'Wright'),
 ('Otis', 'Hayes'),
 ('Sarah', 'Hopkins'),
 ('Richard', 'Mainor'),
 ('Billie', 'Swasey'),
 ('Hayley', 'Tollerud'),
 ('Julie', 'Brown'),
 ('Ashley', 'Plemons'),
 ('Maria', 'Hernandez'),
 ('Delmer', 'Moore'),
 ('Jackie', 'Holmes'),
 ('Juanita', 'Lam'),
 ('Rachael', 'Henderlite'),
 ('Melissa', 'Cobb'),
 ('Charles', 'Natividad'),
 ('Deborah', 'Cutler'),
 ('Stephen', 'Matthew'),
 ('Steven', 'Sanders'),
 ('Shawn', 'Pfost'),
 ('Jessica', 'Collins'),
 ('Carolyn', 'Martin'),
 ('Frances', 'Lopez'),
 ('Richard', 'Moore'),
 ('Gina', 'Nelson'),
 ('Christine', 'Olivo'),
 ('Brittany', 'Shoemaker'),
 ('Martha', 'Howard'),
 ('John', 'Landaker'),
 ('Sara', 'Smith'),
 ('Susan', 'Thady'),
 ('Carl', 'Leonard'),
 ('Yvonne', 'Bagnoli'),
 ('Lillie', 'Labarge'),
 ('Mike', 'Little'),
 ('Carmella', 'Navarro'),
 ('Donna', 'Miles'),
 ('Doris', 'Gurke'),
 ('Richard', 'Phillips'),
 ('Javier', 'Stack'),
 ('Yesenia', 'Dyson'),
 ('Carolyn', 'Pardun'),
 ('Emma', 'Anderson'),
 ('Colleen', 'Newton'),
 ('Gregory', 'Nagel'),
 ('Dan', 'Cross'),
 ('Rico', 'Hines'),
 ('Barbara', 'Harper'),
 ('Vincent', 'Camacho'),
 ('Marc', 'Lemus'),
 ('Mohammad', 'Hayes'),
 ('Beth', 'Pruitt'),
 ('Anthony', 'David'),
 ('Joan', 'Koehler'),
 ('Elaine', 'Taylor'),
 ('Johnnie', 'Morse'),
 ('Thomas', 'Proffitt'),
 ('Philip', 'Belanger'),
 ('Betty', 'Buterbaugh'),
 ('Inez', 'Carrier'),
 ('Martha', 'Thomas'),
 ('Shirley', 'Crum')]

### Consulta 7
**Top 4 NFTs más caros actualmente de un id_tipo X .**

Ejemplo:

|NFT | 
|--------|
|Minecraft Sphere | 
|The Binary Girl |
|Koalas in Love | 
|Art Dodger | 

**Solución:** Se selecciona nombre de "nft" de la tabla resultante dada por la seleccion del id de "precio_nft", de la fecha máxima de "precio_nft", es decir, fecha mas reciente registrada y se le llamará "precio_nft_actuales"
Luego se unira el id del precio de "precio_nft" con el id del precio de "precios_nft_actuales" y la fecha de "precios_nft" con la fecha de "precio_nft".
Despues se unira el id del nft de "nft" con el id del nft de "precios_nft_actuales"
Posteriormente se unirá el id del tipo nft de "tipos_nft" con el id del tipo de "nft"
Finalmente se agruparan mostrando el nombre del nft, la fecha, el precio y el nombre del nft "X", el cual será introducido manualmente , se mostraran los 4 mayores precios mediante un orden de precios descendientes y un limite de 4.

In [9]:
%%sql
SELECT
	nft.nombre AS "NFT"
FROM
	(SELECT
		id_nft, MAX(fecha) AS fecha
	FROM
		precio_nft
	GROUP BY ID_NFT) AS precios_nft_actuales
INNER JOIN precio_nft ON precio_nft.id_nft = precios_nft_actuales.id_nft AND precios_nft_actuales.fecha = precio_nft.fecha
INNER JOIN nft ON nft.id_nft = precios_nft_actuales.id_nft
INNER JOIN tipos_nft ON tipos_nft.id_tipo = nft.id_tipo
GROUP BY nft.nombre, precio_nft.fecha, precio_nft.precio, tipos_nft.nombre
HAVING tipos_nft.nombre = 'Imagen'
ORDER BY precio DESC
LIMIT 4;

 * postgresql://postgres:***@localhost:5432/postgres
4 rows affected.

[('Visionary Crypto',),
 ('Darker Clouds',),
 ('Calm Crows',),
 ('Dark Horse Lady',)]

### Consulta 8
**Los precios de todos los NFTs entre los años 2017 y 2019 inclusive.**

Ejemplo:

|NFT |Precio |
|----|---|
|Minecraft Sphere |  4000 |
|The Binary Girl | 3000| 
| Koalas in Love | 6000 |
|Minecraft Sphere |  1250 |
| ... | ... |

**Solución:** Se unen las tablass "nft" y "precio_nft", mediante el id del nft, teniendo como condicion que su fecha esté entre el rango, y se seleccionan el nombre y su precio.

In [11]:
%%sql
SELECT
    nft.nombre AS "NFT", precio_nft.precio AS "Precio"
FROM
    nft
INNER JOIN precio_nft ON nft.id_nft = precio_nft.id_nft
GROUP BY nft.nombre, precio_nft.precio, precio_nft.fecha
HAVING
    precio_nft.fecha BETWEEN '2017-01-01' AND '2019-12-31';

 * postgresql://postgres:***@localhost:5432/postgres
101 rows affected.

[('Artistic Alpha', 76975),
 ('Dreamy Imaginations', 94236),
 ('Flame Stinger', 84039),
 ('Digi Gods', 57393),
 ('Flame Stinger', 39961),
 ('Secret Stones', 94095),
 ('Crypto Pigeon Race', 66929),
 ('Silver Lining Pixy', 85492),
 ('Reflected Light', 2091),
 ('Dreamy Imaginations', 72655),
 ('Giant Coin', 84929),
 ('Headed Shark Attack', 12349),
 ('3D Me', 53688),
 ('Dust Sifter', 6503),
 ('Bitsy', 21002),
 ('Light Embrace', 76962),
 ('Thunder NFT', 57867),
 ('0xHile', 19417),
 ('Nova Auroras', 39324),
 ('Midas NFTs', 72698),
 ('To The Moon', 63640),
 ('Light Embrace', 84493),
 ('Cypherpunk Samurai', 30322),
 ('Techno Abstract Aesthetics', 94355),
 ('Anna Frozen Entertainers', 58132),
 ('Arty Arts', 98446),
 ('The Teacup Pomeranian', 31086),
 ('Qat Tree Unicorn', 45601),
 ('Aliens Abduction', 3227),
 ('Atollon Coral', 21058),
 ('Clever Chimp', 74696),
 ('0NOZER0', 52435),
 ('0NOCH0', 52889),
 ('White Storm', 78583),
 ('Butterfly Dust', 32263),
 ('Bit NFT', 61802),
 ('Digital Unicorns', 51125),
 ('Blizz Blizzard', 92374),
 ('Bling Bits', 9636),
 ('Artificial Rocks', 68464),
 ('Arty Arts', 6285),
 ('Fair Coin', 25213),
 ('The Gold Betta', 23215),
 ('Non Fungible Nibbles', 60837),
 ('Hive City', 29073),
 ('Minecraft Sphere', 31113),
 ('Bee Token', 96243),
 ('Crypto Potluck', 4717),
 ('Crypto Bunny Ranch', 85387),
 ('Couch Potato', 75883),
 ('Bee Token', 27131),
 ('NFT Lord', 73448),
 ('Calm Crows', 64679),
 ('Giant Coin', 85208),
 ('Mountain of Clouds', 91634),
 ('Art Lover Box', 24004),
 ('Hive City', 60436),
 ('Mountain of Clouds', 43814),
 ('Coin Dance', 3293),
 ('Mountain of Clouds', 49648),
 ('Water Wiggle', 71851),
 ('Sphere Art', 88759),
 ('Ultimate League Of Paragon', 48326),
 ('Dreamy Imaginations', 79733),
 ('Arty Arts', 12743),
 ('Art Lover Box', 64718),
 ('Awesome Concept', 89270),
 ('United Crypto Token (UCT)', 12610),
 ('Crypto Punked', 50659),
 ('Panther NFT', 44118),
 ('Calm Crows', 78838),
 ('Crypto Felines', 8180),
 ('Moonlit Butterfly', 84346),
 ('Koalas in Love', 56925),
 ('Animated Hard Art', 49898),
 ('Elite Fur Dog Race Club', 58000),
 ('Minecraft Sphere', 55412),
 ('Outstanding Octopus', 84350),
 ('Sphere Art', 25442),
 ('Crypto Potato', 31736),
 ('Crypto Raptors', 2127),
 ('Bit NFT', 1770),
 ('Aliens Abduction', 17644),
 ('Doge Pal', 60904),
 ('Brush Point', 81266),
 ('Atollon Coral', 56581),
 ('White Storm', 23829),
 ('Ultimate Iconic Crypto (IUC)', 74065),
 ('Thunder NFT', 83070),
 ('Crypto Jackpot', 13779),
 ('Flame Stinger', 59322),
 ('The Binary Girl', 23888),
 ('0NOZER0', 13021),
 ('Cryptokitty Ville', 79680),
 ('Panther NFT', 2746),
 ('Clumsy Crocodiles', 81801),
 ('Flame Stinger', 78609),
 ('Resilient Rats', 38118),
 ('Outstanding Octopus', 93998),
 ('Meteorite NFT', 44976),
 ('Couch Potato', 80464)]

### Consulta 9 
**Creador al cual le han comprado más NFTs.**

Ejemplo:
   
|Nombre |Apellido |Cantidad |
|-|--|-----|
| Levi |Ackerman |32|

**Solución:** Se unen las tablas "creadores" y "nft", mediante el id de creador, luego a esta misma tabla se une la tabla "usuario_tiene_nft", mediante el id del nft en ésta tabla y en la "nft". Se seleccionan el nombre y apellido de la tabla "creadores" y se cuenta la cantidad de usuarios que poseen un nft de éste creador. Se ordena la tabla resultante de mayor a menor, por medio de la cantidad descrita anteriormente. Finalmente, se limita a una fila.

In [12]:
%%sql
SELECT
	creadores.nombre AS "Nombre", creadores.apellido AS "Apellido", COUNT(usuario_tiene_nft.id_nft) AS "Cantidad"
FROM 
	creadores
INNER JOIN nft ON nft.id_creador = creadores.id_creador
INNER JOIN usuario_tiene_nft ON usuario_tiene_nft.id_nft = nft.id_nft
GROUP BY creadores.nombre, creadores.apellido
ORDER BY COUNT(usuario_tiene_nft.id_nft) DESC
LIMIT 1;

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[('Marvin', 'Thomas', 10)]

### Consulta 10  
**El NFT con mayor precio actual, que pertenezca a un creador X.**

Ejemplo:
   
|NFT |Valor|
|-|-------|
|Minecraft Sphere |18000|

**Solución:** Se selecciona el nombre y el precio de la tabla dada por la seleccion del id del nft de "precio_nft" y con la fecha maxima, es decir, la fecha mas actual de "precio_nft" y se le llamara a la tabla resultante "precios_nft_actuales". 
Despues se unira el id del nft de "precio_nft" con el id del nft de "precio_nft_actuales" y la fecha de "precio_nft_actuales" con la fecha de "precio_nft". 
Luego se unira el id del nft de "nft" con el id del nft de "precios_nft_actuales"
Posteriormente se uniran el id del creador de "creadores" con el id de del creador de "nft"
Finalmente se agruparan mostrando el nombre del nft, la fecha el precio y el nombre del creador "X", el cual será introducido manualmente , se mostrará el que tiene precio mayor mediante un orden de precios descendientes y un limite de 1.

In [8]:
%%sql
SELECT
	nft.nombre AS "NFT", precio_nft.precio AS "Valor"
FROM
	(SELECT
		id_nft, MAX(fecha) AS fecha
	FROM
		precio_nft
	GROUP BY ID_NFT) AS precios_nft_actuales
INNER JOIN precio_nft ON precio_nft.id_nft = precios_nft_actuales.id_nft AND precios_nft_actuales.fecha = precio_nft.fecha
INNER JOIN nft ON nft.id_nft = precios_nft_actuales.id_nft
INNER JOIN creadores ON creadores.id_creador = nft.id_creador
GROUP BY nft.nombre, precio_nft.fecha, precio_nft.precio, creadores.nombre
HAVING creadores.nombre = 'Marvin'
ORDER BY precio DESC
LIMIT 1;

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[('Fantasy Token', 93774)]

### Consulta BONUS
###### (Vale por un abrazo psicológico)

**El usuario que posee más dinero en NFTs considerando los precios actuales de estos**

Ejemplo:
   
|Usuario |Dinero|
|-|-------|
|Levi Ackerman |8000001|

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql
SELECT
    * 
FROM 
    Creadores
WHERE
    nombre = 'WillyRex';