# Tarea 1 Bases de Datos 2022-1 Grupo 10

## Integrantes:
* Claudio Villagrán Orellana - 202021016-0
* Patricio Martinez - 202073015-6
* Jesus Bustamante - 202073127-6

## Requisitos para Correr el Notebook

Para poder utilizar este Notebook se debe tener instalado:
- **Python 3**
- **Jupyter**
- La librería **ipython-sql** (Poder ejecutar sql en Jupyter Notebook)
- ToolKit **sqlalchemy**
- PostgreSQL y su conector desde Python(**psycopg2**)

**IMPORTANTE:** Este Jupyter Notebook se conectará a su servicio de Base de Datos PostgreSQL de manera **local**, por lo que **no funcionará correctamente en el entorno Google Collab.**

Para instalar las dependencias, ejecute (recuerde actualizar pip3):

In [1]:
! pip3 install ipython-sql
! pip3 install sqlalchemy
! pip3 install psycopg2

#Use to generate names
! pip3 install names

Requirement already satisfied: ipython-sql in c:\users\claud\appdata\local\programs\python\python310\lib\site-packages (0.4.0)
Requirement already satisfied: six in c:\users\claud\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: sqlparse in c:\users\claud\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\claud\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (1.4.32)
Requirement already satisfied: prettytable<1 in c:\users\claud\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\claud\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: ipython>=1.0 in c:\users\claud\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (8.1.1)
Requirement already satisfied: pygments>=2.4.0 in c:\users\claud\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (2.11.2)
Requirement already satisfied: traitlets>=5 in c:\users\claud\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: backcall in c:\users\claud\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: jedi>=0.16 in c:\users\claud\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\claud\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.3)
Requirement already satisfied: setuptools>=18.5 in c:\users\claud\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (58.1.0)
Requirement already satisfied: colorama in c:\users\claud\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: stack-data in c:\users\claud\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: pickleshare in c:\users\claud\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\claud\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.28)
Requirement already satisfied: decorator in c:\users\claud\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\claud\appdata\local\programs\python\python310\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.2)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\claud\appdata\local\programs\python\python310\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\claud\appdata\local\programs\python\python310\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: executing in c:\users\claud\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: pure-eval in c:\users\claud\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
Requirement already satisfied: asttokens in c:\users\claud\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)
Requirement already satisfied: sqlalchemy in c:\users\claud\appdata\local\programs\python\python310\lib\site-packages (1.4.32)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\claud\appdata\local\programs\python\python310\lib\site-packages (from sqlalchemy) (1.1.2)
Requirement already satisfied: psycopg2 in c:\users\claud\appdata\local\programs\python\python310\lib\site-packages (2.9.3)
Requirement already satisfied: names in c:\users\claud\appdata\local\programs\python\python310\lib\site-packages (0.3.0)

## Importar dependencias

In [2]:
from datetime import datetime
import random as r
import names
import string

#Librerías para PostgreSQL
import psycopg2

Para conectarse a la base de datos, completen los datos relevantes en la variable DATABASE_URL.

* Cambie `user` por el usuario que utilizó en Postgres para acceder a la Base de Datos. Por defecto `postgres`.
* Cambie `password` por la contraseña de dicho usuario. **Recuerde borrarla antes de entregar su tarea.**
* Cambie `port` por el puerto en que se ejecuta su servicio de Base de Datos. Por defecto `5432`.
* Cambie `database` por el nombre de la BD (Schema) que creó en Postgres.

Ejemplo: `postgresql://postgres:pass_segura@localhost:5432/tarea-bd`

In [3]:
%reload_ext sql
%env DATABASE_URL=postgresql://postgres:123@localhost:5432/postgres

env: DATABASE_URL=postgresql://postgres:123@localhost:5432/postgres

Para conectarse de forma declarativa a la Base de Datos, utilice el siguiente código:

In [4]:
#Recuerde cambiar los valores de USER, DBNAME y PASSWORD por los mismos de la celda superior.
connection = psycopg2.connect(
   host="localhost",
   user="postgres",
   dbname='postgres',
   password="123"
)

print(connection)
cursor = connection.cursor()

<connection object at 0x00000171E8E1A020; dsn: 'user=postgres password=xxx dbname=postgres host=localhost', closed: 0>

## Crear tablas

Aquí inserta el código SQL que creara las tablas de la base de datos:

### Tabla "Usuarios"

In [5]:
%%sql
create table Usuarios(
    ID_usuario integer GENERATED ALWAYS AS IDENTITY,
    nombre varchar(45) NOT NULL,
    apellido varchar(45),
    correo varchar(45) NOT NULL,
    contraseña varchar(50) NOT NULL,
    fecha_registro timestamp NOT NULL,
    PRIMARY KEY(ID_usuario)
);

(psycopg2.errors.DuplicateTable) la relación «usuarios» ya existe

[SQL: create table Usuarios( ID_usuario integer GENERATED ALWAYS AS IDENTITY,
    nombre varchar(45) NOT NULL,
    apellido varchar(45),
    correo varchar(45) NOT NULL,
    contraseña varchar(50) NOT NULL,
    fecha_registro timestamp NOT NULL,
    PRIMARY KEY(ID_usuario)
);]
(Background on this error at: https://sqlalche.me/e/14/f405)

### Tabla "Creadores"

In [24]:
%%sql
create table Creadores(
    ID_creador integer GENERATED ALWAYS AS IDENTITY,
    nombre varchar(45) NOT NULL,
    apellido varchar(45) NOT NULL,
    popularidad integer,
    Estilo varchar(45),
    PRIMARY KEY(ID_creador)
);

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

### Tabla "Tipos_NTF"

In [25]:
%%sql
create table tipos_NFT(
    ID_tipo integer GENERATED ALWAYS AS IDENTITY,
    nombre varchar(20) NOT NULL,
    PRIMARY KEY(ID_tipo)
);

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

### Tabla "NFT"

In [26]:
%%sql
create table NFT(
    ID_nft integer GENERATED ALWAYS AS IDENTITY,
    nombre varchar(45) NOT NULL,
    ID_creador integer NOT NULL,
    ID_tipo integer,
    PRIMARY KEY(ID_nft),
    FOREIGN KEY(ID_creador) REFERENCES Creadores(ID_creador),
    FOREIGN KEY(ID_tipo) REFERENCES tipos_NFT(ID_tipo)
);

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

### Tabla "Precio NFT"

In [27]:
%%sql
Create table Precio_NFT(
    ID_nft integer,
    fecha timestamp NOT NULL,
    precio integer NOT NULL,
    PRIMARY KEY(ID_nft, fecha),
    FOREIGN KEY(ID_nft) REFERENCES NFT(ID_nft)
);

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

### Tabla "Usuario tiene NFT"

In [28]:
%%sql
Create table Usuario_tiene_NFT(
    id_usuario integer,
    id_nft integer,
    PRIMARY KEY(id_usuario, id_nft),
    FOREIGN KEY(id_usuario) REFERENCES Usuarios(ID_usuario),
    FOREIGN KEY(id_nft) REFERENCES NFT(ID_nft)
);

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

## Código Generador de Datos

Ejecute este código para cargar datos a las tablas creadas.

PD: Si el codigo tira error por "violar la unicidad de las PK" es por una coincidencia de numeros random, solamente volver a ejecutar el codigo

In [6]:
#Recuerde haber ejecutado todas las celdas anteriores!

# Generador de timestamp aleatorio.
def generate_timestamp():
    year = r.randint(2015,2022)
    month = r.randint(1,12)
    day = r.randint(1,31)
    
    hour = r.randint(0,23)
    minute = r.randint(0,59)
    second = r.randint(0,59)
    
    if month in [4, 6, 9, 11] and day > 30:
        day = 30
        
    if month == 2 and day > 28:
        day = 28
        
    return datetime(year, month, day, hour, minute, second)

def generate_password():
    return ''.join(r.choice(string.ascii_uppercase + string.digits) for x in range(15))

print("Borrando Datos Antiguos...")

# Limpia la base de datos.
connection.commit() # En caso de algun error
query = "TRUNCATE TABLE usuarios, creadores, tipos_nft, nft, precio_nft, usuario_tiene_nft RESTART IDENTITY"
cursor.execute(query)
connection.commit()


print("Generando Datos...")

nft_names = ['Crypto Raptors', 'The Binary Girl', 'Sphere Art', 'Fight Punks', 'Thunder NFT', 'Artistic Alpha', 'Digital Unicorns', 'Bling Bits', 'Secret Stones', 'Crypto Potato', 'Futuristic Realism', 'Nova Auroras', 'Dreamy Imaginations', 'Reflected Light', 'Spells of Genesis', 'Crypto Felines', 'Dose of Art', 'To The Moon', 'Artful Antlers', 
'Butterfly Dust', 'Depressed Dragons', 'Crypto Diamonds', 'Healthy Hedgehogs', 'Crypto Jackpot', 'Minecraft Sphere', 'Crypto Boom', 'Lucky Lizards', 'Rockin Crypto', 'Crystalline Canyon', 'Koala Kickers', 'Clumsy Crocodiles', 'Mountain of Clouds', 'Blizz Blizzard', 'Cryptokitty Ville', 'Cryptonaut', 'Mike Halloween Yodelers', 'The Teacup Pomeranian', 
'Art Dodger', 'Awesome Concept', 'Aliens Abduction', 'Animated Hard Art', 'Ultimate Iconic Crypto (IUC)', 'Hilarious Horses', '1-Love', '0NOZER0', 'Meteorite NFT', 'Bee Token', 'Elephant Treasure Hunt', 'Crypto Life', '1NiTRO', 'Dust Rift', 'Tokenized Superheroes', 'Techno Abstract Aesthetics', 'Digi Gods', 'Outstanding Octopus', 'Panther NFT', 
'Cypherpunk Samurai', 'Rich Rhinos', 'Crypto Punked', 'Funny Frogs', 'Bit NFT', 'Phonetic Phoenix', 'Flame Stinger', 'Fight For The Title', 'Koalas in Love', 'Touchdown', 'Resilient Rats', 'Bloom of Flowers', 'NFT Lord', 'Fair Coin', 'Art Rumble', 'Light Embrace', 'Crypto Bunny Ranch', 'Crypto Pigeon Race', 'Water Wiggle', 'Wowoo World', 
'Crypto Club', 'Crypto Kitties Of War', 'Visionary Crypto', 'Women Power', 'Rainbows Ends', 'Cards of Polo', 'Crypto Kitties', 'Busy Bats', '0xHile', 'Token Watchdogs', 'Non Fungible Nibbles', 'Pandamonium', '3D Me', 'Midas NFTs', 'Graceful Gorillas', 'United Crypto Token (UCT)', 'Crypto Art Gallery', 'Dark Horse Lady', 'Block View', 'Arty Arts', 
'White Storm', 'Krypto Queen', 'Clever Chimp', 'Qat Tree Unicorn', 'Anna Frozen Entertainers', 'Artificial Rocks', '0NOCH0', 'Flame Blade', 'The Gold Betta', 'Doge Pal', 'Elite Fur Dog Race Club', 'Dust Sifter', 'Moonlit Butterfly', 'Art Lover Box', 'Madame Witch', 'Fantasy Token', 'Bitsy', 'Hive City', 'Couch Potato', 'Burger Bits', 'Crypto Potluck', 
'Cyberboxer', 'Calm Crows', 'Crumbs NFT', 'Mint Chocolates', 'Atollon Coral', 'Dapper Dinos', 'Flame Cats', 'Addictive Animals', 'Alice Wonderland Frozen Carolers', 'Coin Dance', 'Giant Coin', 'Silver Lining Pixy', 'Headed Shark Attack', 'Ultimate League Of Paragon', 'Darker Clouds', 'Blue Mood Chip', 'Brush Point', 'Enthusiastic Elephants', 'Ultra Cool Dogs', 
'Pink Sports Cars']

dominios = ["hola.cl", "google.com","usm.cl","prestigio.usm.cl","crypto.co","basededatos.top"]

tipos_nft = [
    ("Imagen",), ("Musica",),("Juegos",), ("Modelo 3D",), ("Pixel",), ("Membresia",),("Arte",),
]

estilos = [
    ("Anime",),("Manga",),("Arte Retro",),("Arte Moderno",),("Impresionismo",),("Barroco",),("Arte Antiguo",),("Arte 3D",),("Paisaje",)
]

n_usuarios = 200
n_creadores = 20
n_nft = len(nft_names)
n_tipos_nft = len(tipos_nft)
n_usuario_tiene_nft = 80

usuarios = []
for _ in range(1, n_usuarios+1):
    nombre = names.get_first_name()
    apellido = names.get_last_name()
    correo = nombre.lower()+"."+apellido[:4].lower()+"@"+r.choice(dominios)
    usuarios.append((nombre,apellido,correo,generate_password(),generate_timestamp()))

creadores = [(names.get_first_name(), names.get_last_name(), r.randint(0,5), r.choice(estilos)) for _ in range(1,n_creadores+1)]

nft = [(nft_names[n], r.randint(1,n_creadores), r.randint(1,n_tipos_nft)) for n in range(n_nft)]

precio_nft = [(r.randint(1,n_nft), generate_timestamp(), r.randint(500, 100000)) for _ in range(300)]

usuario_tiene_nft = [(r.randint(1,n_usuarios),r.randint(1,n_nft)) for _ in range(81)]


insert = [
    "INSERT INTO usuarios (nombre, apellido, correo, contraseña, fecha_registro) VALUES (%s, %s, %s, %s, %s)",
    "INSERT INTO creadores (nombre, apellido, popularidad, estilo) VALUES (%s, %s, %s, %s)",
    "INSERT INTO tipos_nft (nombre) VALUES (%s)",
    "INSERT INTO nft (nombre, id_creador, id_tipo) VALUES (%s, %s, %s)",
    "INSERT INTO precio_nft (id_nft, fecha, precio) VALUES (%s, %s, %s)",
    "INSERT INTO usuario_tiene_nft (id_usuario, id_nft) VALUES (%s, %s)"
]


for usuario in usuarios:
    cursor.execute(insert[0], usuario)

for creador in creadores:
    cursor.execute(insert[1], creador) 

for tipo in tipos_nft:
    cursor.execute(insert[2], tipo)  

for n in nft:
    cursor.execute(insert[3], n)  
    
for precio in precio_nft:
    cursor.execute(insert[4], precio) 
    
for usr in usuario_tiene_nft:
    cursor.execute(insert[5], usr)
    
connection.commit()

print("Todo Listo!")

Borrando Datos Antiguos...
Generando Datos...
Todo Listo!

## Consultas

Escriba aquí las consultas pedidas. Recuerde agregar una descripción _breve_ de cómo funciona la solución. **Escriba las consultas de forma ordenada.**

**NOTA:** Cuando en una consulta diga "X cosa" significa que ustedes deben de elegir ese X por lo que para cualquier otro X debe de funcionar de igual forma.

### Consulta 1
**ID y Nombre del creador de un estilo X con mayor popularidad.**
###### Si hay más de uno, ponga solamente el primero

Ejemplo:

|Id |  Creador      |
|---|-----------|
| 12 |Levi Ackerman |

**Solución:** selecciona el id, nombre y apellido de la tabla "creadores", donde estilo es X, se ordena de mayor a menor segun su popularidad y se limita a 1 fila.

In [7]:
%%sql
SELECT
    id_creador AS "Id",(

        CONCAT(nombre,' ', apellido)

        )AS "Creador"
FROM 
    creadores
WHERE
estilo = 'Arte 3D'
ORDER BY popularidad DESC
LIMIT 1;

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[(6, 'Delia Berry')]

### Consulta 2
**Cantidad de precios que ha tenido históricamente cada NTF.**

Ejemplo:


| NFT     | Cantidad de precios |
|--------------|----------|
| Minecraft Sphere |    3     |
| The Binary Girl     |    7     |
| ...          |   ...    |

**Solución:** se unen las tablas "precio_nft" y "nft", mediante las id's de nft, para seleccionar el nombre del nft y contar sus precios.

In [8]:
%%sql
SELECT
	nft.nombre AS "NFT", COUNT(precio_nft.id_nft) AS "Cantidad de precios"
FROM
	nft
INNER JOIN precio_nft
ON nft.id_nft = precio_nft.id_nft
GROUP BY nft.nombre;

 * postgresql://postgres:***@localhost:5432/postgres
123 rows affected.

[('Meteorite NFT', 3),
 ('Minecraft Sphere', 3),
 ('Artistic Alpha', 1),
 ('Crypto Kitties Of War', 1),
 ('Addictive Animals', 3),
 ('Animated Hard Art', 2),
 ('Token Watchdogs', 4),
 ('1-Love', 1),
 ('Tokenized Superheroes', 6),
 ('Anna Frozen Entertainers', 1),
 ('Rich Rhinos', 3),
 ('Mountain of Clouds', 3),
 ('Crystalline Canyon', 1),
 ('Crypto Raptors', 2),
 ('1NiTRO', 2),
 ('Fight Punks', 1),
 ('White Storm', 4),
 ('Cypherpunk Samurai', 3),
 ('Arty Arts', 1),
 ('Bitsy', 2),
 ('Crypto Jackpot', 4),
 ('Light Embrace', 3),
 ('Visionary Crypto', 1),
 ('Flame Stinger', 1),
 ('Art Lover Box', 4),
 ('Futuristic Realism', 3),
 ('0NOCH0', 3),
 ('Crypto Pigeon Race', 2),
 ('Crypto Club', 1),
 ('Outstanding Octopus', 3),
 ('Pandamonium', 3),
 ('Graceful Gorillas', 2),
 ('To The Moon', 1),
 ('NFT Lord', 1),
 ('3D Me', 1),
 ('Ultimate Iconic Crypto (IUC)', 1),
 ('Spells of Genesis', 3),
 ('Depressed Dragons', 1),
 ('Moonlit Butterfly', 2),
 ('Reflected Light', 1),
 ('Giant Coin', 2),
 ('Dapper Dinos', 4),
 ('Blizz Blizzard', 2),
 ('Koalas in Love', 3),
 ('Sphere Art', 3),
 ('Non Fungible Nibbles', 2),
 ('Crypto Bunny Ranch', 1),
 ('Lucky Lizards', 2),
 ('The Gold Betta', 1),
 ('Digi Gods', 5),
 ('Hilarious Horses', 4),
 ('Couch Potato', 1),
 ('Panther NFT', 2),
 ('Brush Point', 5),
 ('Women Power', 4),
 ('Crypto Diamonds', 4),
 ('Madame Witch', 3),
 ('Koala Kickers', 3),
 ('Mike Halloween Yodelers', 4),
 ('Flame Blade', 1),
 ('Awesome Concept', 1),
 ('Fight For The Title', 2),
 ('Bit NFT', 1),
 ('Dose of Art', 5),
 ('Artificial Rocks', 4),
 ('Pink Sports Cars', 3),
 ('Bloom of Flowers', 3),
 ('Wowoo World', 5),
 ('Rainbows Ends', 1),
 ('Alice Wonderland Frozen Carolers', 3),
 ('Crypto Art Gallery', 3),
 ('Healthy Hedgehogs', 2),
 ('Midas NFTs', 3),
 ('Dark Horse Lady', 4),
 ('Crypto Life', 2),
 ('Fair Coin', 3),
 ('Fantasy Token', 1),
 ('Silver Lining Pixy', 3),
 ('Atollon Coral', 1),
 ('United Crypto Token (UCT)', 5),
 ('Darker Clouds', 1),
 ('Crypto Felines', 2),
 ('Secret Stones', 5),
 ('Elite Fur Dog Race Club', 2),
 ('Bee Token', 2),
 ('Dreamy Imaginations', 2),
 ('Burger Bits', 2),
 ('Flame Cats', 3),
 ('Blue Mood Chip', 1),
 ('Artful Antlers', 3),
 ('0xHile', 1),
 ('Art Rumble', 4),
 ('Bling Bits', 6),
 ('Cards of Polo', 4),
 ('Doge Pal', 1),
 ('Digital Unicorns', 1),
 ('Cryptokitty Ville', 1),
 ('Dust Rift', 5),
 ('Qat Tree Unicorn', 2),
 ('Cyberboxer', 2),
 ('Art Dodger', 3),
 ('0NOZER0', 3),
 ('Butterfly Dust', 5),
 ('Enthusiastic Elephants', 3),
 ('Water Wiggle', 3),
 ('Coin Dance', 1),
 ('Elephant Treasure Hunt', 2),
 ('Ultra Cool Dogs', 1),
 ('Mint Chocolates', 2),
 ('Crumbs NFT', 2),
 ('Crypto Potluck', 4),
 ('Thunder NFT', 1),
 ('Techno Abstract Aesthetics', 2),
 ('Calm Crows', 1),
 ('Crypto Punked', 4),
 ('Busy Bats', 1),
 ('Ultimate League Of Paragon', 1),
 ('Crypto Potato', 3),
 ('Clumsy Crocodiles', 1),
 ('Phonetic Phoenix', 3),
 ('Crypto Kitties', 2),
 ('Resilient Rats', 2),
 ('Block View', 1)]

### Consulta 3
**El nombre y tipo (nombre del tipo) del NFT históricamente más caro.**
###### Si hay más de uno, ponga solamente el primero
Ejemplo:

| NFT    | Tipo | 
|----------------|--------|
| Minecraft Sphere| Arte 3D |

**Solución:** Se unen las tablas "nft" y "tipos_nft", mediante el id del tipo, donde el id del nft esta dado por el id que tenga maximo precio en la tabla "precio_nft". Ademas, se limita a 1 fila.

In [9]:
%%sql
SELECT
	nft.nombre AS "NFT", tipos_nft.nombre AS "Tipo"
FROM
	nft
INNER JOIN tipos_nft ON nft.id_tipo = tipos_nft.id_tipo
WHERE
	nft.id_nft = (SELECT
				  	id_nft
				  FROM
				  	precio_nft
				  WHERE
				  	precio = (SELECT
							 	MAX(precio)
							 FROM
							 	precio_nft
							 )
				 )
LIMIT 1;

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[('Cypherpunk Samurai', 'Pixel')]

### Consulta 4
**Nombre y apellido del usuario con más número de NFTs.**

Ejemplo:

| Nombre     | Apellido |
|----------------|--------|
| Levi | Ackerman |

**Solución:** Se selecciona el nombre y apellido de una tabla resultante, en donde se unen las tablas "usuarios" y "usuario_tiene_nft", se selecciona el nombre, apellido y la cantidad de NFTs que tiene. Por ultimo se ordenan de mayor a menor y se limita a uno para asi obtener la fila con mayor cantidad de NFTs.

In [10]:
%%sql
SELECT
	nombre AS "Nombre", apellido AS "Apellido"
FROM
	(SELECT
		usuarios.nombre, usuarios.apellido, COUNT(usuario_tiene_nft.id_usuario) AS Cantidad_nft
	FROM
		usuarios
	INNER JOIN usuario_tiene_nft
	ON usuarios.id_usuario = usuario_tiene_nft.id_usuario
	GROUP BY usuarios.nombre, usuarios.apellido 
	) AS usuario_tiene_cantidad
ORDER BY Cantidad_nft DESC
LIMIT 1;

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[('Steven', 'Jones')]

### Consulta 5
**El NFT que más veces cambió de precio historicamente.**

Ejemplo:

|  ID  | NFT | 
|--------|-------|
| 11 |Minecraft Sphere | 

**Solución:** Se unen las tablas "nft" y "precio_nft", mediante el id del nft, luego se agrupan por nombre de nft, para asi tener la cantidad de precios, despues se ordenaran de mayor a menor y finalmente se limitará a uno para asi obtener la fila con la mayor cantidad de precios.

In [11]:
%%sql
SELECT
	nft.nombre AS "NFT", COUNT(precio_nft.id_nft) AS cantidad
FROM
	nft
INNER JOIN precio_nft
ON nft.id_nft = precio_nft.id_nft
GROUP BY nft.nombre
ORDER BY COUNT(precio_nft.id_nft) DESC
LIMIT 1;

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[('Tokenized Superheroes', 6)]

### Consulta 6
**Usuarios que NO tienen un NFT.**

Ejemplo

|Nombre | Apellido|
|--------|-------|
|Guillermo    | Diaz |
|Markus | Person |
|Rick   | Astley |
|... | ...| 

**Solución:** Se selecciona el nombre y apellido del usuario que no tenga su id dentro de la tabla "usuario_tiene_nft".

In [12]:
%%sql
SELECT
	nombre AS "Nombre", apellido AS "Apellido"
FROM
	usuarios
WHERE
	id_usuario NOT IN (SELECT
					  	usuario_tiene_nft.id_usuario
					  FROM
					  	usuario_tiene_nft);

 * postgresql://postgres:***@localhost:5432/postgres
135 rows affected.

[('Catherine', 'Benton'),
 ('Mary', 'Jackson'),
 ('Doris', 'Branham'),
 ('David', 'Thompson'),
 ('Lisa', 'Lindsay'),
 ('Sherry', 'Obregon'),
 ('Janet', 'Murray'),
 ('Nadia', 'Teig'),
 ('Manuel', 'Wade'),
 ('Laurie', 'Miller'),
 ('Travis', 'Russell'),
 ('Cristobal', 'Mathis'),
 ('Richard', 'Christiano'),
 ('Daniel', 'Wallace'),
 ('Marlene', 'Mcmanus'),
 ('Sheila', 'Smith'),
 ('Brent', 'Anderson'),
 ('Carl', 'Denny'),
 ('Melinda', 'Mackley'),
 ('Matthew', 'Copeland'),
 ('Lena', 'Lutz'),
 ('Ramon', 'Hauser'),
 ('Betty', 'Hilton'),
 ('Kristine', 'Penn'),
 ('Corrine', 'Bonifant'),
 ('Edith', 'Arcement'),
 ('Tyrone', 'Mcallen'),
 ('Vera', 'Mcginty'),
 ('Joseph', 'Whitten'),
 ('David', 'Hamburger'),
 ('Robert', 'Hoopes'),
 ('Edith', 'Dunn'),
 ('Jordan', 'Schulz'),
 ('Michael', 'Lytle'),
 ('Sol', 'Burres'),
 ('Lavelle', 'Medina'),
 ('Todd', 'Giles'),
 ('Michael', 'Rodriguez'),
 ('Lola', 'Thompson'),
 ('Therese', 'Bradby'),
 ('Laura', 'Knisley'),
 ('John', 'Gregg'),
 ('Paul', 'Russell'),
 ('Angelic', 'Owens'),
 ('Deborah', 'Heron'),
 ('Kimberly', 'Hitchcock'),
 ('Teresa', 'Wong'),
 ('Sherry', 'Schlindwein'),
 ('Rose', 'Henderson'),
 ('Erik', 'Foster'),
 ('Georgianna', 'Schechter'),
 ('Kurt', 'Baker'),
 ('Latonya', 'Gillette'),
 ('Ethel', 'Jaji'),
 ('Cecilia', 'Brewer'),
 ('Dion', 'Sao'),
 ('Kimberly', 'Leyva'),
 ('Abel', 'Gallegos'),
 ('Philip', 'Espinosa'),
 ('Paul', 'Lafrance'),
 ('Gregory', 'Ryan'),
 ('Leo', 'Martinez'),
 ('Jim', 'Mayville'),
 ('Ethel', 'Egan'),
 ('David', 'Lacey'),
 ('Helen', 'Powers'),
 ('Todd', 'Wood'),
 ('Charles', 'Albert'),
 ('Charles', 'Ethridge'),
 ('Pamela', 'Carter'),
 ('Juanita', 'Kipping'),
 ('Destiny', 'Davis'),
 ('Kenneth', 'Velasquez'),
 ('John', 'Lord'),
 ('Grace', 'Paulk'),
 ('Luann', 'Joyal'),
 ('Carrie', 'Grimsley'),
 ('Alecia', 'Joseph'),
 ('Bruce', 'Riddle'),
 ('Nancy', 'Pena'),
 ('Christopher', 'Walter'),
 ('Tina', 'Soler'),
 ('Erica', 'Bray'),
 ('Ashley', 'Taylor'),
 ('Jane', 'Siefke'),
 ('Krystal', 'Willard'),
 ('Roxanne', 'Gracely'),
 ('Maria', 'Laury'),
 ('Amanda', 'Cano'),
 ('William', 'Emilio'),
 ('Carmen', 'Battaglia'),
 ('Richard', 'Anderson'),
 ('John', 'Acton'),
 ('Julia', 'Clark'),
 ('John', 'Field'),
 ('Brian', 'Case'),
 ('Ella', 'Hansel'),
 ('Gail', 'Lind'),
 ('Richard', 'Stringer'),
 ('Beth', 'Price'),
 ('Margaret', 'Kirkpatrick'),
 ('Joseph', 'Nelson'),
 ('Shane', 'Tabor'),
 ('Barbara', 'Bailey'),
 ('John', 'Cobb'),
 ('Otis', 'Hicks'),
 ('Joseph', 'Feuer'),
 ('Hans', 'Dunbar'),
 ('Jeffrey', 'Waldrip'),
 ('Courtney', 'Adams'),
 ('Roland', 'Gelormino'),
 ('Robert', 'Bonney'),
 ('Michaela', 'Weber'),
 ('Connie', 'Frutchey'),
 ('Elizabeth', 'Collins'),
 ('Norman', 'Mendoza'),
 ('Bernice', 'Hill'),
 ('Deborah', 'Carpenter'),
 ('Wilton', 'Murray'),
 ('Yvonne', 'Riccelli'),
 ('Christina', 'Meek'),
 ('Dorothy', 'Mitchell'),
 ('Annie', 'Rodriguez'),
 ('Wallace', 'Sawicki'),
 ('Samantha', 'Hernandez'),
 ('Hector', 'Montiel'),
 ('Anna', 'Jones'),
 ('Thomas', 'Kang'),
 ('Vernon', 'Lyons'),
 ('Jason', 'Hoeft'),
 ('Clarence', 'Edwards'),
 ('Shannon', 'Kleinknecht'),
 ('Mary', 'Reid'),
 ('John', 'Moses'),
 ('Toby', 'Foster')]

### Consulta 7
**Top 4 NFTs más caros actualmente de un id_tipo X .**

Ejemplo:

|NFT | 
|--------|
|Minecraft Sphere | 
|The Binary Girl |
|Koalas in Love | 
|Art Dodger | 

**Solución:** Se selecciona nombre de "nft" de la tabla resultante dada por la seleccion del id de "precio_nft", de la fecha máxima de "precio_nft", es decir, fecha mas reciente registrada y se le llamará "precio_nft_actuales"
Luego se unira el id del precio de "precio_nft" con el id del precio de "precios_nft_actuales" y la fecha de "precios_nft" con la fecha de "precio_nft".
Despues se unira el id del nft de "nft" con el id del nft de "precios_nft_actuales"
Posteriormente se unirá el id del tipo nft de "tipos_nft" con el id del tipo de "nft"
Finalmente se agruparan mostrando el nombre del nft, la fecha, el precio y el nombre del nft "X", el cual será introducido manualmente , se mostraran los 4 mayores precios mediante un orden de precios descendientes y un limite de 4.

In [13]:
%%sql
SELECT
	nft.nombre AS "NFT"
FROM
	(SELECT
		id_nft, MAX(fecha) AS fecha
	FROM
		precio_nft
	GROUP BY ID_NFT) AS precios_nft_actuales
INNER JOIN precio_nft ON precio_nft.id_nft = precios_nft_actuales.id_nft AND precios_nft_actuales.fecha = precio_nft.fecha
INNER JOIN nft ON nft.id_nft = precios_nft_actuales.id_nft
INNER JOIN tipos_nft ON tipos_nft.id_tipo = nft.id_tipo
GROUP BY nft.nombre, precio_nft.fecha, precio_nft.precio, tipos_nft.nombre
HAVING tipos_nft.nombre = 'Imagen'
ORDER BY precio DESC
LIMIT 4;

 * postgresql://postgres:***@localhost:5432/postgres
4 rows affected.

[('Panther NFT',),
 ('Darker Clouds',),
 ('Enthusiastic Elephants',),
 ('Futuristic Realism',)]

### Consulta 8
**Los precios de todos los NFTs entre los años 2017 y 2019 inclusive.**

Ejemplo:

|NFT |Precio |
|----|---|
|Minecraft Sphere |  4000 |
|The Binary Girl | 3000| 
| Koalas in Love | 6000 |
|Minecraft Sphere |  1250 |
| ... | ... |

**Solución:** Se unen las tablass "nft" y "precio_nft", mediante el id del nft, teniendo como condicion que su fecha esté entre el rango, y se seleccionan el nombre y su precio.

In [14]:
%%sql
SELECT
    nft.nombre AS "NFT", precio_nft.precio AS "Precio"
FROM
    nft
INNER JOIN precio_nft ON nft.id_nft = precio_nft.id_nft
GROUP BY nft.nombre, precio_nft.precio, precio_nft.fecha
HAVING
    precio_nft.fecha BETWEEN '2017-01-01' AND '2019-12-31';

 * postgresql://postgres:***@localhost:5432/postgres
108 rows affected.

[('Healthy Hedgehogs', 98199),
 ('Wowoo World', 29322),
 ('Healthy Hedgehogs', 64357),
 ('Wowoo World', 9510),
 ('Elite Fur Dog Race Club', 2485),
 ('Cards of Polo', 82231),
 ('Blue Mood Chip', 62661),
 ('Crypto Bunny Ranch', 39537),
 ('Crypto Potato', 87469),
 ('Futuristic Realism', 61852),
 ('Tokenized Superheroes', 96803),
 ('Wowoo World', 27760),
 ('Water Wiggle', 37412),
 ('Cypherpunk Samurai', 87917),
 ('Bling Bits', 25672),
 ('Crypto Raptors', 53110),
 ('Crypto Potluck', 882),
 ('Digi Gods', 52940),
 ('Hilarious Horses', 82247),
 ('Token Watchdogs', 9022),
 ('Crypto Jackpot', 26350),
 ('Dust Rift', 45920),
 ('Silver Lining Pixy', 5613),
 ('Visionary Crypto', 21659),
 ('Crypto Potluck', 39779),
 ('Butterfly Dust', 51682),
 ('Midas NFTs', 33360),
 ('Hilarious Horses', 26698),
 ('Alice Wonderland Frozen Carolers', 47434),
 ('Giant Coin', 73576),
 ('Butterfly Dust', 48239),
 ('Outstanding Octopus', 73374),
 ('Mint Chocolates', 77919),
 ('Dreamy Imaginations', 70983),
 ('Coin Dance', 23330),
 ('Mike Halloween Yodelers', 77953),
 ('Pink Sports Cars', 43147),
 ('Token Watchdogs', 44088),
 ('Panther NFT', 92684),
 ('Bling Bits', 69854),
 ('Flame Cats', 54528),
 ('Bling Bits', 33641),
 ('Art Lover Box', 55998),
 ('Women Power', 31958),
 ('Butterfly Dust', 75214),
 ('Art Lover Box', 94572),
 ('0NOZER0', 48750),
 ('Couch Potato', 17855),
 ('White Storm', 58503),
 ('Crypto Raptors', 37845),
 ('Brush Point', 45245),
 ('Futuristic Realism', 86819),
 ('Crypto Potato', 71243),
 ('Mike Halloween Yodelers', 84227),
 ('Rich Rhinos', 47895),
 ('Artful Antlers', 80144),
 ('Light Embrace', 36318),
 ('Spells of Genesis', 9944),
 ('White Storm', 5477),
 ('Crypto Jackpot', 63683),
 ('Koala Kickers', 73544),
 ('Enthusiastic Elephants', 53208),
 ('Cards of Polo', 92517),
 ('Light Embrace', 17184),
 ('Clumsy Crocodiles', 5718),
 ('Sphere Art', 4677),
 ('Women Power', 75645),
 ('Midas NFTs', 51953),
 ('Bling Bits', 14553),
 ('Flame Cats', 12900),
 ('Dreamy Imaginations', 68744),
 ('Fight Punks', 43888),
 ('Lucky Lizards', 40029),
 ('Dapper Dinos', 17895),
 ('Token Watchdogs', 96780),
 ('Crypto Punked', 71774),
 ('Crumbs NFT', 46097),
 ('Resilient Rats', 12229),
 ('Fantasy Token', 35507),
 ('Token Watchdogs', 51244),
 ('United Crypto Token (UCT)', 71918),
 ('Cyberboxer', 68649),
 ('Enthusiastic Elephants', 25835),
 ('Ultimate League Of Paragon', 61718),
 ('Brush Point', 67514),
 ('Koala Kickers', 58336),
 ('Cyberboxer', 5785),
 ('Moonlit Butterfly', 77228),
 ('Minecraft Sphere', 51064),
 ('0NOCH0', 91039),
 ('0xHile', 35729),
 ('0NOZER0', 48134),
 ('Crypto Jackpot', 6558),
 ('The Gold Betta', 48790),
 ('Crypto Diamonds', 50647),
 ('Sphere Art', 67512),
 ('Rainbows Ends', 25815),
 ('Madame Witch', 71467),
 ('Dose of Art', 46644),
 ('Futuristic Realism', 31712),
 ('Resilient Rats', 43570),
 ('Crypto Life', 46021),
 ('Depressed Dragons', 24495),
 ('Art Rumble', 38558),
 ('Hilarious Horses', 3015),
 ('Art Dodger', 3819),
 ('Techno Abstract Aesthetics', 22771),
 ('1NiTRO', 82808)]

### Consulta 9 
**Creador al cual le han comprado más NFTs.**

Ejemplo:
   
|Nombre |Apellido |Cantidad |
|-|--|-----|
| Levi |Ackerman |32|

**Solución:** Se unen las tablas "creadores" y "nft", mediante el id de creador, luego a esta misma tabla se une la tabla "usuario_tiene_nft", mediante el id del nft en ésta tabla y en la "nft". Se seleccionan el nombre y apellido de la tabla "creadores" y se cuenta la cantidad de usuarios que poseen un nft de éste creador. Se ordena la tabla resultante de mayor a menor, por medio de la cantidad descrita anteriormente. Finalmente, se limita a una fila.

In [15]:
%%sql
SELECT
	creadores.nombre AS "Nombre", creadores.apellido AS "Apellido", COUNT(usuario_tiene_nft.id_nft) AS "Cantidad"
FROM 
	creadores
INNER JOIN nft ON nft.id_creador = creadores.id_creador
INNER JOIN usuario_tiene_nft ON usuario_tiene_nft.id_nft = nft.id_nft
GROUP BY creadores.nombre, creadores.apellido
ORDER BY COUNT(usuario_tiene_nft.id_nft) DESC
LIMIT 1;

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[('Joe', 'Wendt', 8)]

### Consulta 10  
**El NFT con mayor precio actual, que pertenezca a un creador X.**

Ejemplo:
   
|NFT |Valor|
|-|-------|
|Minecraft Sphere |18000|

**Solución:** Se selecciona el nombre y el precio de la tabla dada por la seleccion del id del nft de "precio_nft" y con la fecha maxima, es decir, la fecha mas actual de "precio_nft" y se le llamara a la tabla resultante "precios_nft_actuales". 
Despues se unira el id del nft de "precio_nft" con el id del nft de "precio_nft_actuales" y la fecha de "precio_nft_actuales" con la fecha de "precio_nft". 
Luego se unira el id del nft de "nft" con el id del nft de "precios_nft_actuales"
Posteriormente se uniran el id del creador de "creadores" con el id de del creador de "nft"
Finalmente se agruparan mostrando el nombre del nft, la fecha el precio y el nombre del creador "X", el cual será introducido manualmente , se mostrará el que tiene precio mayor mediante un orden de precios descendientes y un limite de 1.

In [17]:
%%sql
SELECT
	nft.nombre AS "NFT", precio_nft.precio AS "Valor"
FROM
	(SELECT
		id_nft, MAX(fecha) AS fecha
	FROM
		precio_nft
	GROUP BY ID_NFT) AS precios_nft_actuales
INNER JOIN precio_nft ON precio_nft.id_nft = precios_nft_actuales.id_nft AND precios_nft_actuales.fecha = precio_nft.fecha
INNER JOIN nft ON nft.id_nft = precios_nft_actuales.id_nft
INNER JOIN creadores ON creadores.id_creador = nft.id_creador
GROUP BY nft.nombre, precio_nft.fecha, precio_nft.precio, creadores.nombre
HAVING creadores.nombre = 'Joe'
ORDER BY precio DESC
LIMIT 1;

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[('Calm Crows', 97554)]

### Consulta BONUS
###### (Vale por un abrazo psicológico)

**El usuario que posee más dinero en NFTs considerando los precios actuales de estos**

Ejemplo:
   
|Usuario |Dinero|
|-|-------|
|Levi Ackerman |8000001|

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql
SELECT
    XD 
FROM 
    XD
WHERE
    nombre = 'XD';